<!-- My own css files -->
{% if layout.error %}
<link rel="stylesheet" href="{{site.url}}{{site.baseurl_root }}/assets/css/error.css?v={{ site.time | date: '%Y%m%d%H%M%S' }}" />
{% else %}
<link rel="stylesheet" href="{{site.url}}{{site.baseurl_root }}/assets/css/main.css?v={{ site.time | date: '%Y%m%d%H%M%S' }}">
{% endif %}

<link rel="stylesheet" href="{{site.url}}{{site.baseurl_root }}/assets/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="{{site.url}}{{site.baseurl_root }}/assets/bower_components/icono/dist/icono.min.css"/>

<noscript id="deferred-styles">
    <!-- defer loading of font -->
    <link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
</noscript>

<link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- FontAwesome stylesheed: rrss icons, only used in about page -->
<link rel="stylesheet" href="{{site.url}}{{site.baseurl_root }}/assets/bower_components/font-awesome/css/all.min.css"/>

<!-- Applause button -->
<link rel="stylesheet" href="{{site.url}}{{site.baseurl_root }}/assets/bower_components/applause-button/applause-button-github.css"/>

<!-- Favicon -->
<link rel="icon" href="{{site.url}}{{site.baseurl_root }}/assets/img/favicon.ico" type="image/gif" sizes="16x16">

{% if false %}
<!-- UNUSED FOR NOW -->
<!-- Fonts-->
<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
<!-- FontAwesome stylesheed: rrss icons, only used in about page -->
<link rel="stylesheet" href="{{site.url}}{{site.baseurl_root }}/assets/bower_components/font-awesome/css/all.min.css"/>

<link rel="stylesheet" href="/assets/bower_components/lightgallery/dist/css/lightgallery.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.0-beta.3/default/snipcart.css" />
<link rel="stylesheet" href="/assets/bower_components/icono/dist/icono.min.css"/>
<link href="{{ "/assets/css/main.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}" rel="stylesheet">
 <link rel="stylesheet" href="/assets/css/custom-style.css" /> 
<link rel="stylesheet" href="/assets/css/miniWorld.css?v={{ site.time | date: '%Y%m%d%H%M%S' }}" />
<link rel="stylesheet" href="/assets/css/main.css" />
{% endif %}
