{% if paginator.total_pages > 1 %}
<div class="pagination">

  {% if paginator.previous_page %}
    <a class="ml-1 mr-1 pagination-link" href="{{ permalink | append: '..' | prepend: site.baseurl }}">First</a>
  {% else %}
    <span>First</span>
  {% endif %}
  

  {% if paginator.previous_page %}
    <a class="ml-1 mr-1 pagination-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
  {% else %}
    <span>&laquo;</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="ml-1 mr-1 ">{{ page }}</span>
    {% elsif page == 1 %}
      <a class="ml-1 mr-1 pagination-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a class="ml-1 mr-1 pagination-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="ml-1 mr-1 pagination-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
  {% else %}
    <span>&raquo;</span>
  {% endif %}

  {% if paginator.next_page %}
    <a class="ml-1 mr-1 pagination-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}">Last</a>
  {% else %}
    <span>Last</span>
  {% endif %}
  

</div>
{% endif %}