---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{%- include head.html -%}
<body class="d-flex flex-column h-100">
    {% if layout.header %}
        {%- include header.html -%}
    {% endif %}
        <main role="main" class="flex-shrink-0">
           <div class="content">
              {{ content }}
          </div>
        </main>
    {% if layout.footer %}
        {% translate_file footer.html %}
    {% endif %}

    {% include js.html %}

</body>
</html>