---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{%- include head.html -%}
<body class="d-flex flex-column h-100">
    <!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="pond"></div>
    </div>
</main>
<!--<script> var linkElement = document.createElement("link"); linkElement.rel = "stylesheet"; linkElement.href = "assets/css/miniWorld.css"; document.head.appendChild(linkElement); </script>-->
{%- include footer.html -%}

<script src="/assets/js/error_404.js?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></script>
<script src="/assets/js/mode-switcher.js"></script>
</body>
</html>